
@mainColor: #fa8533;

@hoverBackgroundColor: #faa166;

@backgroundColor: rgba(42, 42, 42, 0.78);

@shadowColor: #fa8533;

@paella_icons_image: url(../images/paella_icons_light.png);

/*
@mainColor: #FF00FF;

@hoverBackgroundColor: #FF88FF;

@backgroundColor: rgba(0, 255, 255, 0.78);

@shadowColor: #FF00FF;
*/