
.playback-bar {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgb(32,32,32);
	background: linear-gradient(0deg, rgba(32,32,32,1) 0%, rgba(32,32,32,0.49531687675070024) 72%, rgba(32,32,32,0.08355217086834732) 100%);
	z-index: 100;
}

.playback-bar:hover {
	background: rgb(32,32,32,0.8);
}

.progress-indicator {
	width: 100%;
	height: 10px;
}

.progress-indicator-timer {
	position: absolute;
	left: 0px;
	top: 0px;
	color: white;
	font-size: 10px;
	line-height: 11px;
	padding-left: 11px;
	pointer-events: none;
}

.playback-bar .button-plugins {
	height: 40px;
}

.playback-bar .button-plugins.left-side {
	float: left;
}

.playback-bar .button-plugins.right-side {
	float: right;
}

.playback-bar .button-plugins button {
	width: 40px;
	height: 40px;
	display: block;
	background: none;
	outline: none;
	border: none;
	float: left;
}

.playback-bar .button-plugins button:hover {
	background-color: red;
}

.playback-bar .button-plugins button:active {
	background-color: rgba(0, 0, 0, 0.8);
}

.playback-bar .button-plugins button i {
	background-size: 50% 50%;
	width: 20px;
	height: 20px;
	display: block;
	background-repeat: no-repeat;
	background-position: 3px 7px;
	margin-left: 5px;
}

.playback-bar .button-plugins button i svg {
	fill: white;
}

.progress-indicator {
	position: relative;
}

.progress-indicator canvas {
	position: absolute;
	left: 0px;
	top: 0px;
	pointer-events: none;
	opacity: 0.5;
}

.playback-bar:hover .progress-indicator canvas {
	opacity: 1;
}

.progress-indicator .progress-indicator-container {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.progress-indicator-container .progress-indicator-content {
	height: 100%;
	background-color: rgba(255,0,0,0.5);
	pointer-events: none;
}

.playback-bar:hover .progress-indicator-container .progress-indicator-content {
	background-color: rgba(255,0,0,1);
}

.frame-thumbnail {
	background-color: rgba(20, 20, 20, 0.8);
	min-width: 100px;
	min-height: 100px;
	box-shadow: 0px 0px 5px 0px rgba(20,20,20,0.8);
	z-index: 100;
	pointer-events: none;
}

.frame-thumbnail .thumbnail-image {
	width: 130px;
	pointer-events: none;
}

.frame-thumbnail .thumbnail-time {
	pointer-events: none;
	font-size: 12px;
	line-height: 12px;
	display: block;
	height: 12px;
	color: white;
	text-align: center;
	margin: 0;
	padding: 1;
}

